.cart-checkout-item {
   display: flex;
   flex-direction: row;
}

.cart-checkout-item-img {
   width: 80px;
}

.cart-shipping {
   width: 214px;
   height: 85px;
}

.cart-shipping > div > div {
   font-family: amber-thick;
}

.cart-shipping > div {
   display: none;
}

.cart-shipping:first-child > div {
   display: block;
}