.cart-checkout-item {
   display: flex;
   flex-direction: row;
}

.cart-checkout-item-img {
   width: 80px;
}

.cart-shipping-container {
   width: 214px;
   height: 85px;
}

.cart-shipping > div {
   font-family: amber-thick;
}

.cart-shipping~.cart-shipping {
   display: none;
}