@font-face {
   font-family: amber-thick;
   src: url(../../../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Bd.ttf);
}

@font-face {
   font-family: amber;
   src: url(../../../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Rg.ttf);
}

a#nav-login-link {
   padding-top: 8px;
   text-decoration:none;
   width: 95%;
   line-height: 1.2;
}