
div#nav-bar {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;

   background-color: #131921;
   height: 60px;
   padding: 5px;
}

div#nav-bar > div > div {
   border: 1px solid transparent;
   border-radius: 2px;
   display: block;
   align-items: center;
   justify-content: center;
   padding: 2px;

   line-height: 1.2;
}

div#left-nav-container {
   width: 500px;
   display: flex;
   justify-content: space-evenly;
   padding-top: 0;
}

div#right-nav-container {
   width: 500px;
   display: flex;
   justify-content: space-between;
   padding: 0px 10px;
}

h2.nav-bar-h2 {
   color: #fff;
   font-family: amber;
   font-size: 12px;
   margin-bottom: 0;
}

div.nav-bar-text {
   color: #fff;
   font-family: amber-thick;
   font-size: 14px;

   height: 25px;
   margin-bottom: 0px;
}


div#nav-bar > div > div:hover {
   border:1px solid #fff;
   cursor: pointer;
}

div#nav-bar-logo-container {
   display: block;
   padding-left: 0px;
   width: 113px;
   padding-top: 7px!important;
}

img#nav-bar-logo {
   display: block;
   width: 103px;
}

div#welcome-address-container {
   width: 164px;
   display: block!important;
   padding-top: 9px!important;
   line-height: 1;
}

div#nav-search-container {
   display: block!important;
   padding-top: 5px!important;
   width: 100%;
}

div#nav-search-container:hover {
   border-color: transparent!important;
}

div#session-button-container {
   width: 130px;
   padding: 2px;
}

div#order-list-container {
   display: block!important;
   width: 77px;
   padding-top: 9px !important;
}

div#cart-container {
   cursor: grabbing!important;
}

img#nav-bar-cart {
   padding: 0 12px;
   width: 60px;
}

div#cart-number {
   position: absolute;
   color: #f08804;
   font-family: amber-thick;
   font-size: 18px;
   padding-bottom: 18px;
   padding-left: 29px;
}