
div#nav-bar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;

   background-color: #131921;
   height: 60px;
   padding: 5px;
}

div#nav-bar > div {
   border: 1px solid transparent;
   border-radius: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2px;
}

div#nav-bar > div:hover {
   border:1px solid #fff;
   cursor: pointer;
}

div#nav-bar-logo-container {
   display: block;
   padding-left: 0px;
   width: 113px;
}

img#nav-bar-logo {
   display: block;
   width: 103px;
}

div#session-button-container {
   width: 120px;
   padding: 2px;
}

div#cart-container {

   cursor: grabbing;
}

img#nav-bar-cart {
   padding: 0 12px;
   width: 60px;
}

div#cart-number {
   position: absolute;
   color: #f08804;
   font-family: amber-thick;
   font-size: 18px;
   padding-bottom: 18px;
   padding-left: 10px;
}