.cart-bells {
   width: 25px;
   margin-bottom: 5px;
}

.cart-delete {
   cursor: pointer;
   width: fit-content;

   font-size: 12px;
   color: #007185;
}

.cart-delete:hover {
   text-decoration: underline;
}

.cart-form-spacer {
   margin: 0;
}

.cart-form {
   flex-direction: column;
   flex-grow: 1;

   padding: 2px 12px;
}

.cart-form > :first-child {
   text-decoration: none;
   color: black;

   font-size: 17px;
}

.cart-form-bottom {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.cart-form-bottom-container {
   display: flex;
   flex-direction: column;
   justify-content: end;
   
   height: 98px;
}

.cart-form-vert {
   height: 15px;
   border-right: 1px solid black;
   margin: 0px 13px;

   opacity: 18%;
}

.cart-index-form {
   display: flex;
   flex-direction: row;

   padding: 20px;
   padding-right: 0;
}

.cart-image {
   width: 180px;
   height: auto;
}

.cart-item-price {
   width: 104px;
   padding-top: 2px;
   text-align: right;

   font-family: amber-thick;
   font-size: 17px;
}

.cart-info {
   font-size: 12px;
}

.cart-info > span {
   font-family: amber-thick;
}

.green-stock {
   color: rgb(94, 150, 39);
   font-size: 11px;
}

.empty-cart {
   padding-bottom: 50px!important;
}

.left-subtotal {
   justify-content:left!important;
   margin: 0!important;
}

.price {
   width: 100%;
   text-align: right;

   opacity: 74%;
}

.price~.price {
   display: none;
}

.subtotal-container {
   display: flex;
   justify-content: end;
   align-items: center;
   margin-top: 2px;
   margin-bottom: 15px;

   font-size: 18px;
}

.subtotal-container > span {
   font-family: amber-thick;
}