#create-review-header {
   font-family: amber-thick;
   margin-bottom: 0px;
}

#create-review-item-info > span {
   margin-left: 10px;
}

#create-review-page-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 770px;
   margin: 28px 0px;
   margin-bottom: 36px;
}

#create-review-page-container > h5 {
   font-family: amber-thick;
   font-size: 17px;

   margin-bottom: 12px;
}

.create-review-space {
   margin: 18px 2px;
}

.image-space {
   margin-top: 2px;
}

#review-image {
   width: 84px;
}

#review-submit {
   width: 66px;
   background-color: rgb(254, 211, 60);

   border: 1px solid transparent;
   border-radius: 8px;
}

.create-review-page-rating {
   overflow: visible !important;
}

.create-review-page-rating > span {
   font-size: 30px!important;
   overflow: visible !important;
   margin-left: 1.5px;
   margin-right: 1.5px;
}

.create-review-rating-backer {
   position: absolute!important;
   overflow: visible!important;

   z-index: -1;
}

.create-review-rating-backer > span {
   color: rgb(161, 111, 32)!important;
   font-size: 33px !important;
   overflow: visible !important;
}

#create-rating-container {
   margin-top: 4px;
   margin-bottom: 10px;
}

#create-title {
   border: 1px solid gray;
   border-radius: 4px;
   
   padding: 4px 8px;
   margin: 6px 0;
}

#create-body {
   height: 140px;
   border: 1px solid gray;
   border-radius: 4px;
   display: flex;
   
   padding: 4px 8px;
   margin: 6px 0;
}

#create-button-container {
   display: flex;
   justify-content: end;
}