@font-face {
   font-family: amber-light;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Lt.ttf)
}

@font-face {
   font-family: amber;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Rg.ttf);
}

@font-face {
   font-family: amber-thick;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Bd.ttf);
}

* {
   box-sizing: border-box;
}

h2 {
   font-weight: 400;
   font-size: 28px;
   line-height: 1.2;
   font-family: amber;

   padding-bottom: 4px;
   margin: 0;

   margin-bottom: 10px !important;
}

body {
   display: flex;
   justify-content: center;
   font-size: 13px;
   line-height: 19px;
   font-family: amber;
   padding-top: 9px;
}

div {
   display: block;
}

label {
   padding-left: 2px;
   padding-bottom: 2px;
}

input {
   width: 100%;
   height: 30px;
   font-size: 100%;
   font-family: amber;

   padding: 3px 7px;

   border: 1px solid #a6a6a6;
   border-top-color: #949494;
   border-radius: 3px;
   box-shadow: 0 1px 0 rgb(255 255 255 / 50%),
      0 1px 0 rgb(0 0 0 / 7%) inset;
   
   outline: none;
}

button {
   width: 100%;
   height: 31px;

   background: #f0c14b;
   border-color: #a88734 #9c7e31 #846a29;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;

   padding: 1px 6px;
   margin-top: 0px;
   margin-bottom: 26px;
}


.amber-light {
   font-family: amber-light;
}

.amber-thick {
   font-family: amber-thick;
}

img#nav-bar-logo {
   justify-content: center;
   width: 103px;
}

input#name {
   margin-bottom: 14px;
}

#signup-page {
   display: flex;
   justify-content: center;
   flex-direction: column;

   margin-bottom: 22px;
}

#signup-page-container {
   position: relative;
   border-radius: 4px;
   border: 1px #ddd solid;

   width: 350px;
   padding: 14px 18px;
}

#privacy-notice {
   font-size: 12px;
   line-height: 1.5;

   margin-top: 0px;
   margin-bottom: 26px;
}

#nav-bar {
   display: flex;
   justify-content: center;

   margin-bottom: 18px;
   margin-top: 5px;
}

button#continue {
   margin-bottom: 14px;
}

#signup-button {
   background: #e7e9ec;
   border-radius: 3px;
   border-color: #adb1b8 #a2a6ac #8d9096;
   border-style: solid;
   border-width: 1px;
   
   text-align: center;
   vertical-align: middle;
   height: 31px;
}