/* * {
   box-sizing: border-box;
}

@font-face {
   font-family: amber-light;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Lt.ttf)
}

@font-face {
   font-family: amber;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Rg.ttf);
}


h1 {
   font-weight: 400;
   font-size: 28px;
   line-height: 1.2;
   font-family: amber;
   display: block;

   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

body {
   font-size: 13px;
   line-height: 19px;
   color: #111;
   font-family: Arial, sans-serif;
   justify-content: center;
}

img {
   width: 103px;
}


.amber-light {
   font-family: amber-light;
}

.amber {
   font-family: amber;
}



#login-page-container {
   display: block;
   flex: auto;
   width: 375px;
   justify-content: center;
}

#privacy-notice {
   font-size: 12px;
   line-height: 1.5;
}

#gradient {
   display: block;
   width: 100%;
   height: 44px;
   background-color: transparent;
   background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
   background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
   z-index: 1;
   content: "";
}

*/