.percentage-container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 300px;
   margin: 14px 0;
}

.percentage-container > span {
   display: inline-block;
   width: 36px;
   text-align: end;
}

#review-index-header {
   font-family: amber-thick;
   font-size: 18px;
   margin-bottom: 20px;
}

#right-show-review-column {
   margin-left: 90px;
}

#review-average-container {
   margin-bottom: 28px;
}