@font-face {
   font-family: amber;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Rg.ttf);
}

@font-face {
   font-family: amber-thick;
   src: url(../../assets/fonts/EmberDisplay/AmazonEmberDisplay_Bd.ttf);
}

* {
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   font-size: 13px;
   line-height: 19px;
   font-family: amber;
   padding-top: 9px;
}

div {
   display: block;
}


label {
   padding-left: 2px;
   padding-bottom: 2px;
}


.amber {
   font-family: amber;
}

.amber-thick {
   font-family: amber-thick;
}

.login-input-container {
   padding-bottom: 14px;
   margin-top: 0px;
}

.error-border {
   box-shadow: 0 0 0 4px #fcf4f4 inset!important;
   border-color: #c40000!important;
}

input.login-input {
   width: 100%;
   height: 30px;
   font-size: 100%;
   font-family: amber;

   padding: 3px 7px;

   border: 1px solid #a6a6a6;
   border-top-color: #949494;
   border-radius: 3px;
   box-shadow: 0 1px 0 rgb(255 255 255 / 50%),
      0 1px 0 rgb(0 0 0 / 7%) inset;
}

button.login-button {
   width: 100%;
   padding: 1px 6px;
   height: 29px;

   background: #f0c14b;
   border-color: #a88734 #9c7e31 #846a29;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;

   margin-top: 0px;
   margin-bottom: 0px;

   cursor: pointer;
}

img.error-mark {
   width: 16px;
   background-color: white;
   padding-right: 7px;
}

div.inline-error-div {
   padding-top: 4px;
   padding-left: 2px;
   font-size: 12px;
   color: #c40000;
}


h2#sign-in-h2 {
   font-weight: 400;
   font-size: 28px;
   line-height: 1.2;
   font-family: amber;

   padding-bottom: 4px;
   margin: 0;

   margin-bottom: 10px !important;
}

img#amazon-logo {
   justify-content: center;
   width: 103px;
}

#login-page {
   display: flex;
   justify-content: center;
   flex-direction: column;

   margin-bottom: 22px;
}

#login-page-container {
   position: relative;
   border-radius: 4px;
   border: 1px #ddd solid;

   width: 350px;
   padding: 20px 26px;
}

#login-privacy-notice {
   font-size: 12px;
   line-height: 1.5;

   margin-top: 18px;
   margin-bottom: 0px;
}

#amazon-logo-container {
   display: flex;
   justify-content: center;

   margin-bottom: 18px;
   margin-top: 5px;
}

#divider {
   position: relative;
   border-top: 1px solid #e7e7e7;

   margin-top: -1px;
   width: 350px;
   height: 1px;
   top: 27px;
}

#login-new-to {
   line-height: 1;
   font-size: 12px;
   color: #767676;
   font-weight: 400;
   background-color: #fff;

   position: relative;
   text-align: center;
   padding: 0 8px 0 7px;
   width: 100px;

   top: 22px;
   left: 126px;
}

#signup-redirect {
   position: relative;
   top: 34px;
}

#signup-button {
   background: #e7e9ec;
   border-radius: 3px;
   border-color: #adb1b8 #a2a6ac #8d9096;
   border-style: solid;
   border: 2px 1px;

   text-align: center;
   vertical-align: middle;

   height: 31px;
   padding: 0;
}

div#error-div {
   border-radius: 4px;
   border: 1px solid;
   margin-bottom: 14px;
   padding: 14px 18px;
   width: 348px;
}

#error-heading {
   position: relative;
   font-weight: 400;
   font-size: 17px;
   line-height: 1.255;
   padding-bottom: 4px;
   left: 15px;

   color: #c40000;
}

div#errors {
   position: relative;
   width: 300px;
   
   padding-left: 47px;
}

img#alert {
   width: 30px;
   display: inline;
   float: left;
   
   padding-bottom: 14px;
}
