div#show-page-container {
   width: 1500px;
   margin-top: 40px;
   margin-bottom: 36px;
   display: flex;
   flex-direction: column;
}

.show-page-row {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-bottom: 8px;
}

.ratings-row {
   justify-content: left;
   font-size: 13px;
   padding-bottom: 0;
}


div#show-image-container {
   position: sticky;
   display:block;
   align-items: center;
   justify-content: center;
   top: 0;
   width: 30%;
}

#show-image-container > img {
   height: 100%;
   width: auto;
   max-height: 417px;
   max-width: 487px;
   object-fit: contain;
}

div#show-info-container {
   width: 405px;
}

#show-info-container > div {
   margin-bottom: 3px;
}

div#description-div {
   margin-bottom: 10px;
   padding-left: 4px;
}

span.description-span {
   font-family: amber-thick;
   width:100px;
   display: inline-block;
}

div#show-cart-container {
   border: 1px solid #e6e6e6;
   border-radius: 8px;
   width: 273px;
   height: fit-content;
   padding: 14px 18px;

   font-size: 14px;
}

div#price-info > h3 {
   font-family: amber;
   font-size: 28px;
   margin-bottom: 1px;
}

div#price-info {
   font-family: amber;
   font-size: 12px;

   margin-bottom: 4px;
}

img.bells {
   width:20px;
   padding-bottom: 10px;
}

img.ratings {
   width: 120px;
}

button#cart-button {
   border-radius: 15px;
   background-color: rgb(249, 217, 76);
   border-color: transparent;
   margin-bottom: 10px;
}

button#buy-button {
   border-radius: 15px;
   background-color: rgb(242,168, 66);
   border-color: transparent;

   margin-bottom: 14px;
}

.green-span {
   color: rgb(8, 110, 8);
   margin-bottom: 10px;
}

#bold-span {
   font-family: amber-thick;
}

#about-this {
   font-family: amber-thick;
}

#show-page-reviews-container {
   margin-top: 10px;
   display: flex;
   
}

#left-show-review-column {
   width: 334px;
}

#review-stars {
   display: flex;
   flex-direction: row;

   font-size: 18px;
}

.customer {
   margin-bottom: 2px;
}


span[style*="color: rgb(255, 215, 0)"] {
   font-size: 24px;
   color: rgb(252, 155, 52)!important;
}

span[style*="color: gray"] {
   color: white!important;
}

.show-stars {
   margin-left: 6px;
}

#total-ratings {
   margin: 6px 0px;
   color: rgb(79, 77, 77);

   margin-bottom: 12px;
}

.review-blocker {
   background-color: transparent;
   z-index: 1;
   position: absolute;
   width: 80px;
   height: 20px;
}

.top-blocker {
   width: 100px;
}

.stars > span {
   margin-right: 1px;
}

.backer {
   position: relative;
   right: 170px;
   z-index: -1;
}

.backer > span {
   font-size: 16px!important;

   color: rgb(212, 129, 58) !important;
}

.top-backer {
   position: relative;
   right: 139px;

   z-index: -1;
}

.top-backer > span {
   color: rgb(212, 129, 58)!important;
   font-size: 16px!important;
}

#show-item-name {
   margin-bottom: 2px;
   font-size: 25px;
}

.no-margin-hr {
   margin-top: 2px;
   margin-bottom: 14px;
}