#cart-show-addedtocart {
   font-family: amber-thick;
   font-size: 19px;

   margin-bottom: 6px;
}

#cart-show-checkmark {
   width: 20px;
   margin-right: 8px;
}

#cart-show-container {
      flex-grow: 1;
      height: 100%;
      overflow: hidden;
      background-color: white;
      padding: 18px 16px;

      display: flex;
      flex-direction: row;
      justify-content: center;
}

#cart-show-image {
   width: 100px;
}

#cart-show-info {
   padding: 16px 20px;
   font-size: 12px;
}

#cart-show-info > span {
   font-family: amber-thick;
}

#to-the-top {
   margin: 0!important;
}