#filter-sidebar {
   width: 200px;
}

#item-index-item-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
   
#item-index-header {
   width: 100%;
   height: 20px;
   border: 1px solid black;
}