input#nav-search-input {
   width: 100%;
   height: 38px;
   font-size: 15px;
   font-family: amber;

   padding-top: 7px;
   padding-right: 5px;
   padding-bottom: 10px;
   padding-left: 7px;

   border: 1px solid #a6a6a6;
   border-radius: 3px;
   outline: none;
}